*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1140px;
  gap: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  gap: 26px;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 298px;
  gap: 30px;
  overflow-y: auto;
}

.content__list {
  display: grid;
  gap: 22px; /* хотя по макету 30px, но у меня тогда не сходится*/
}

.content__list-item {
  padding-left: 2px;
  padding-right: 3px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 200px;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-position: center;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form:focus {
  outline: none;
}

.search-form__label:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.search-form__label:focus:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__fieldset {
  border: none;
  width: fit-content;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 5px;
  padding: 0;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.result {
  padding-top: 78px;
  display: grid;
  align-items: flex-end;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  text-align: left;
  text-transform: uppercase;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
  line-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Machine', 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 16.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 3px 3px;
  cursor: pointer;
}

.content__card-link_current:hover {
  text-decoration: underline;
}

.content__card-link_current:focus {
  outline: none;
}

.content__card-link_current:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current:active {
  background-color: #545050;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  width: 225px;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-right: none;
  border-left: none;
  outline: none;
  cursor: text;
  color: #fff;
  padding: 5px 0px;
  font-family: inherit;
  font-size: 18px;
  font-weight: inherit;
  text-align: left;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
  background-color: transparent;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  color: #fff;
  opacity: 1;
}

.search-form__pseudo-checkbox.checked::after {
  opacity: 1;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  outline: none;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  margin-top: 20px;
  cursor: pointer;
}

.button.more-button {
  display: inline-block;
  width: 390px;
  min-height: 34px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button:active {
  background-color: #545050;
}
